@import url(https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:400,100,300,400italic,700|EB+Garamond);

@charset "utf-8";

@-webkit-viewport {
  width: device-width;
}

@-moz-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}
/* ============================================================
  RESET 
============================================================ */
h4 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

h4 {
  line-height: 28px;
}

h4{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: #19294D;
}

h4 {
  font-size: 28px;
  line-height: 32px;
  padding-top: 30px;
  padding-bottom: 25px;
}


h4.love {
  font-size: 24px;
}

h4.color {
  font-size: 28px;
  background-color: #001C6F;
  display: block;
  padding: 20px;
  color: #FFF;
  margin-bottom: 30px;
}

h4.color90 {
  font-size: 18px;
  display: block;
  padding: 15px;
  margin-bottom: 25px;
  font-weight: 400;
}

p {
  padding-top: 8px;
  padding-bottom: 8px;
}

a {
  font-weight: 700;
  color: #08507f;
  text-decoration: none;
}

a:hover {
  color: #0099FF;
}


/* TRANSITION BACKGROUN COLOR */
* {
  -webkit-transition: background-color 0.5s ease;
  ;
  -moz-transition: background-color 0.5s ease;
  ;
  -ms-transition: background-color 0.5s ease;
  ;
  -o-transition: background-color 0.5s ease;
  ;
}
/* styles */

#section-4 {
  padding-top: 50px;
}

a.scroll {
  display: inline-block;
  font-size: 1.3em;
  height: 32px;
  width: 32px;
}

a.scroll:hover {
  text-decoration-color: -moz-use-text-color;
  -webkit-text-decoration-line: none;
  text-decoration-line: none;
  -webkit-text-decoration-style: solid;
  text-decoration-style: solid;
}

a.scroll::after {
  -webkit-animation-delay: 0;
  animation-delay: 0;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: none;
  animation-fill-mode: none;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: arrow;
  animation-name: arrow;
  -webkit-animation-play-state: running;
  animation-play-state: running;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  content: "";
  height: 32px;
  left: 0;
  position: absolute;
  right: 0;
  top: 10px;
  width: 32px;
  border-bottom-color: #D90000;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-right-color: #D90000;
  border-right-style: solid;
  border-right-width: 2px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin: auto;
}

.title-5 {
  font-size: 48px;
  line-height: 60px;
  font-weight: 900;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 70px;
  background-image: url(../img/www.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  text-align: center;
  display: block;
  margin-bottom: 50px;
}

/* FA ICON GEAR */
.fa-spin-reverse {
  -webkit-animation: fa-spin-reverse 2s infinite linear;
  animation: fa-spin-reverse 2s infinite linear;
}

@-webkit-keyframes fa-spin-reverse {
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  0% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes fa-spin-reverse {
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  0% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}


.white7 {
  height: 100%;
  width: 100%;
  background: white;
  opacity: 0.7;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.white7:hover {
  zoom: 1;
  filter: alpha(opacity=100);
  opacity: 1;
}
/* OWL CAROUSLE */
.owl50 {
  width: 100%;
  padding-right: 15%;
  padding-left: 15%;
  background-color: #F5F5F5;
  padding-top: 2%;
  padding-bottom: 5%;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: #E0E1E1;
  border-bottom-color: #E0E1E1;
}
/* black and white image */
.blackwhiteimg {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  -webkit-filter: grayscale(1);
  border: 1px solid #bbbbbb;
}

.blackwhiteimg:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  filter: grayscale(0%);
  filter: none;
  -webkit-filter: grayscale(0);
  border: 1px solid #0066FF;
}

/* HOME PARALLAX */
article {
  position: relative;
  width: 100%;
  height: 450px;
  overflow: hidden;
}

article img {
  position: absolute;
  bottom: 0;
  left: 0;
}

/* blockquote */		
.absomid-cbp {
  height: 300px;
  width: 680px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.corner {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -khtml-border-radius: 8px;
  border: 1px solid #FFF;
}

.cbp-qtrotator {
  position: relative;
  max-width: 600px;
  width: 100%;
  height: 220px;
}

.cbp-qtrotator .cbp-qtcontent {
  position: absolute;
  height: 180px;
  border-top: 2px solid #f4f4f4;
  padding: 20px 0;
  top: 0;
  z-index: 0;
  opacity: 0;
  width: 100%;
}

.no-js .cbp-qtrotator .cbp-qtcontent {
  border-bottom: none;
}

.cbp-qtrotator .cbp-qtcontent.cbp-qtcurrent,
.no-js .cbp-qtrotator .cbp-qtcontent {
  position: relative;
  z-index: 100;
  pointer-events: auto;
  opacity: 1;
}

.cbp-qtrotator .cbp-qtcontent:before,
.cbp-qtrotator .cbp-qtcontent:after {
  content: " ";
  display: table;
}

.cbp-qtrotator .cbp-qtcontent:after {
  clear: both;
}

.cbp-qtprogress {
  position: absolute;
  background: #47a3da;
  height: 2px;
  width: 0%;
  z-index: 700;
  top: 0;
}

.cbp-qtrotator blockquote {
  margin: 0;
  padding: 0;
}

.cbp-qtrotator blockquote p {
  font-family: "Courier New", Courier, monospace;
  font-size: 28px;
  font-weight: 400;
  font-style: italic;
  margin-top: 10px;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  line-height: 32px;
  background-image: url(../img/quote_mark.png);
  background-repeat: no-repeat;
  background-position: left top;
  text-indent: 40px;
  padding: 4%;
}

.cbp-qtcontent:nth-child(even) {
  color: #909;
}

.cbp-qtcontent:nth-child(odd) {
  color: #03C;
}

.cbp-qtrotator blockquote footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-align: right;
  padding-right: 20px;
}

.cbp-qtrotator blockquote footer:before {
  content: '― ';
}

@media all and (min-width: 1600px) {
	
  h1#title-1 {
    font-size: 20px;
    line-height: 48px;
    margin-top: 10vh;
  }

  #title-1 em {
    font-size: 100px;
    padding-top: 20px;
  }

  #title-1 em::before,
    #title-1 em::after {
    font-size: 50px;
    margin-right: 30px;
    margin-bottom: 0;
    margin-left: 30px;
  }

  h3 {
    font-size: 40px;
    line-height: 60px;
  }

  h4 {
    font-size: 32px;
    line-height: 40px;
  }
}

@media all and (min-width: 960px) and (max-width: 1600px) {
	
  .wrap {
    width: 4em;
    height: 4em;
    font-size: 5px;
    position: relative;
  }

  .icon {
    margin-top: 0px;
    margin-bottom: 25px;
  }

  .title-2 {
    font-size: 24px;
    line-height: 44px;
    font-weight: 700;
    padding-top: 20px;
  }

  .title-2 span {
    font-size: 40px;
    font-weight: 100;
    padding-top: 10px;
    padding-bottom: 50px;
  }

  .box66 {
    width: 90%;
  }

  h3.title-3 {
    padding-top: 10px;
    padding-bottom: 20px;
  }
}

@media all and (max-width: 1280px) {
  section {
    min-height: auto;
  }
}

@media all and (min-width: 960px) and (max-width: 1280px) {
	
  #title-sub1 {
    font-size: 24px;
  }

  #title-sub1::before,
#title-sub1::after {
    font-size: 20px;
  }
}

@media all and (max-width: 960px) {
  .vito {
    display: none !important;
  }

  .bghwhite {
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: #0099ff;
    width: 50%;
  }

  h1#title-1 {
    font-size: 20px;
    margin-top: 8vh;
  }

  #title-1 em {
    font-size: 70px;
    padding-top: 0;
  }

  #title-1 em::before, #title-1 em::after {
    content: "";
    line-height: 14px;
  }

  .social-btn-container .social-btn-box {
    margin: 5px;
  }

  .social-btn-container .social-btn-box {
    width: 40px;
    height: 40px;

  }

  .social-btn-container .social-btn-box a {
    font-size: 14px;
    height: 60px;
    line-height: 60px;
    width: 60px;
  }

  .title-2 {
    font-size: 24px;
    line-height: 44px;
    font-weight: 700;
    padding-top: 20px;
  }

  .title-2 span {
    font-size: 40px;
    font-weight: 100;
    padding-top: 10px;
    padding-bottom: 50px;
  }

  .title.overtext h4 {
    font-size: 30px;
    line-height: 40px;
  }

  .box66 {
    width: 80%;
  }

  .border-right {
    border-right: none;
    text-align: left;
  }

  .spec-l, .spec-r {
    padding-right: 5%;
    padding-left: 5%;
  }
}

@media all and (min-width: 768px) and (max-width: 960px) {
  .hack960 {
    width: 720px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media all and (max-width: 768px) {
	
  .hero {
    background-image: url(../img/istria768.jpg);
  }

  .absomid {
    width: 94%;
  }

  .cbp-qtrotator blockquote p {
    font-size: 20px;
    line-height: 28px;
  }

  .cbp-qtrotator blockquote footer {
    font-size: 14px;
  }

  article {
    height: 300px;
  }

  .modal {
    width: 90%;
    padding: 30px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media all and (max-width: 600px) {
	
  .social-btn-container {
    width: 320px;
    bottom: 30%;
  }

  .paraw {
    font-size: 40px;
  }

  #title-sub1 {
    font-size: 16px;
    padding-bottom: 20px;
  }

  #title-sub1::before,
#title-sub1::after {
    font-size: 12px;
  }

  #title-sub2 {
    font-size: 48px;
    padding-bottom: 40px;
  }

  .absomid-cbp {
    width: 470px;
  }
}

@media all and (max-width: 480px) {
  h1#title-1 {
    font-size: 16px;
    margin-top: 6vh;
  }

  #title-1 em {
    font-size: 36px;
  }

  .box66 {
    width: 90%;
  }

  #title-sub1 {
    font-size: 13px;
    padding-bottom: 20px;
  }

  #title-sub2 {
    font-size: 32px;
    padding-bottom: 40px;
  }

  .absomid-cbp {
    width: 320px;
  }
}
